@model IEnumerable<ProductManagement.Models.Product>

@{
    ViewBag.Title = "Product List";
}


<br />
    <!-- Add New Product button on the right -->
    <div class="text-left">
        <a href="@Url.Action("Create", "Product")" class="btn btn-primary">Add New Product</a>
    </div>
<br />
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Category</th>
            <th>Subcategory</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.ProductName</td>
                <td>@product.Category.CategoryName</td>
                <td>@product.Subcategory.SubcategoryName</td>
                <td>@product.Qty</td>
                <td>@product.Price</td>
                <td>@product.Total</td>
                <td>
                    <a href="@Url.Action("Edit", "Product", new { id = product.ProductID })" class="btn btn-warning">Edit</a>
                    <a href="@Url.Action("Delete", "Product", new { id = product.ProductID })" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


